.shipping-address-container {
    padding: 20px;
  }
  
  .text-field {
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .back-button {
    margin-left: 10px;
  }
  